.thumbnail img {
    height: 175px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

body { padding-top: 70px; }

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

.media{
    border-bottom: 1px dotted #ccc;
	padding-bottom : 10px;
}

.page-header{
	margin-bottom : -10px;
}

.food-item {
	padding-bottom : 10px;
	margin-bottom : -30px;
	border-bottom: 2px solid #ccc;
}

.add-new-comment{
	padding-bottom: 9px;
    margin: 5px 0 5px;
}

.food-img{
	width: 1000px;
	margin-bottom: 9px;
}

.camp_img {
	width: 5px;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.food-list:hover{
	background-color:#f1f1f1
}

.prv{
	margin-left: 10px;
	margin-right: 10px
}

.nxt{
	margin-left: 10px;
	margin-right: 10px
}